<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hesham.musiccloud">

    <application
        android:allowBackup="true"
        android:icon="@drawable/musiccloud"
        android:label="@string/app_name"
        android:roundIcon="@drawable/musiccloud"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Bioshock_Burial_at_the_sea"
            android:label="Bioshock Burial at the sea"></activity>
        <activity
            android:name=".Bioshock_infinite"
            android:label="Bioshock infinite"></activity>
        <activity
            android:name=".Bioshock"
            android:label="Bioshock 1"></activity>

        <activity
            android:name=".Remi"
            android:label="Remi"></activity>
        <activity
            android:name=".Adgal_aldigtial"
            android:label="Adgal aldigtial"></activity>
        <activity
            android:name=".Secret_garden"
            android:label="Secret garden "></activity>

        <activity
            android:name=".Dream"
            android:label="Fools Who Dream"></activity>
        <activity
            android:name=".sun"
            android:label="Another Day of sun"></activity>
        <activity
            android:name=".city_of_stars"
            android:label="City Of Stars "></activity>

        <activity
            android:name=".Unforgatable"
            android:label="Unforgatable"></activity>
        <activity
            android:name=".La_via_en_rose"
            android:label="La via en rose"></activity>
        <activity
            android:name=".What_awonderfull"
            android:label="What a wonderfull World "></activity>

    </application>

</manifest>